html,
body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#background {
  background: #e1e1e1 no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f5f5f5;

  min-height: 100%;
}
#calc {
  margin-top: 8vh !important;
  min-height: 80vh;
  width: 62%;
  display: inline-flexbox;
  flex-wrap: wrap;
  align-items: flex-start;
}

#title {
  max-height: 5vh;
}

#molecule {
  height: 100%;
}

#copyright {
  font-size: 0.7rem;
}

#modalBody {
  padding: 0.75rem;
  min-width: 100%;
}

#modalFooter {
  justify-content: flex-start;
  padding-left: 0.875rem;
}

#customList {
  padding: 0.125rem 1.25rem;
}

@media (max-width: 992px) {
  #calc {
    margin-top: 210px !important;
    width: 100%;
    min-height: 100%;
  }

  #modalButton {
    margin-left: 16px !important;
  }
}
