body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#calc {
  margin-top: 8vh !important;
  min-height: 80vh;
  width: 55%;
  display: inline-flexbox;
  flex-wrap: wrap;
  align-items: flex-start;
}

#title {
  max-height: 5vh;
}
